<footer class="footer">
      <div class="container footer-flex">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
        <div>
          <h4>Contact Us</h4>
          <ul>
            <li>(+234)7053587440</li>
            <li>Osazuwaogbeide124@gmail.com</li>
            <li></li>
          </ul>
       </div>
      <div>
        <h4>Follow Us</h4>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-pinterest fa-2x"></i></a>
        <a href="#"><i class="fab fa-tumblr fa-2x"></i></a>
      </div>
    </div>
  </footer>